<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated TP2 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ca.polymtl.log8430.model.TP2.presentation.TP2ModelWizardID"
            name="%_UI_TP2ModelWizard_label"
            class="ca.polymtl.log8430.model.TP2.presentation.TP2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TP2ModelFile.gif">
         <description>%_UI_TP2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated TP2 -->
      <editor
            id="ca.polymtl.log8430.model.TP2.presentation.TP2EditorID"
            name="%_UI_TP2Editor_label"
            icon="icons/full/obj16/TP2ModelFile.gif"
            extensions="tp2"
            class="ca.polymtl.log8430.model.TP2.presentation.TP2Editor"
            contributorClass="ca.polymtl.log8430.model.TP2.presentation.TP2ActionBarContributor">
      </editor>
   </extension>

</plugin>
